@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Test gRPC Web</h1>
    <button id="theButton">Send Is Alive</button>
    <div id="theLog"></div>
</div>
<script defer src="~/js/datalog/main.js"></script>
